<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Update BMR and TDEE</title>
        <meta name="description" content="Update your saved measurements with our BMR and TDEE calculator.">
        <meta name="keywords" content="tdee, bmr, calculator, calories, fitness, weight, loss, muscle, gain, maintenance, total, daily, energy, expenditure, basal, metabolic, rate">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <h1 id="header">
                <a href="/">Personal BMR & TDEE Calculator</a>
            </h1>
        </header>
        <main>
            <div id="infoDiv">
                <p>To make updating your BMR and TDEE easier, we've prefilled the calculator with your last saved measurements.</p>
                <p>On <%= measurements.date_last_updated %>, your estimated BMR was <%= measurements.est_bmr %> and your estimated TDEE was <%= measurements.est_tdee %>.</p>
            </div>

            <div id="userDiv">
                <div id="userInputDiv">
                    <p>Enter your measurements:</p>
                    <div>
                        <span>Sex:</span>
                        <input type="radio" id="male" name="sex" value="male" 
                            <% if (measurements.sex == 'male') { %>
                                checked
                            <% } %>
                        >
                        <label for="male">Male</label>
                        <input type="radio" id="female" name="sex" value="female"
                            <% if (measurements.sex == 'female') { %>
                                checked
                            <% } %>
                        >
                        <label for="female">Female</label>
                    </div>

                    <div>
                        <span>Age:</span>
                        <input id="age" name="age" type="number" value="<%= measurements.age %>">
                        <label for="age">y.o.</label>
                    </div>
                    
                    <div id="systemDiv">
                        <span>Preferred measurement system:</span><br>
                        <input type="radio" id="imperial" name="measurements" value="imperial"
                            <% if (measurements.measurement_sys == 'imperial') { %>
                                checked
                            <% } %>
                        >
                        <label for="imperial">Imperial</label>
                        <input type="radio" id="metric" name="measurements" value="metric" 
                            <% if (measurements.measurement_sys == 'metric') { %>
                                checked
                            <% } %>
                        >
                        <label for="metric">Metric</label>
                    </div>

                    <div>
                        <span>Height:</span>
                        <div id="impHeightDiv" class="imperial-sys">
                            <input id="feet" name="feet" type="number"
                                <% if (measurements.feet) { %>
                                    value="<%= measurements.feet %>"
                                <% } %>
                            >
                            <label for="feet">ft</label>

                            <input id="inches" name="inches" type="number"
                                <% if (measurements.inches || measurements.inches === 0) { %>
                                    value="<%= measurements.inches %>"
                                <% } %>
                            >
                            <label for="inches">in</label>
                        </div>

                        <div id="metHeightDiv" class="metric-sys hidden-elem">
                            <input id="cm" name="cm" type="number"
                                <% if (measurements.cm) { %>
                                    value="<%= measurements.cm %>"
                                <% } %>
                            >
                            <label for="cm">cm</label>
                        </div>
                    </div>

                    <div>
                        <span>Weight:</span>
                        <div id="impWeightDiv" class="imperial-sys">
                            <input id="lbs" name="lbs" type="number"
                                <% if (measurements.lbs) { %>
                                    value="<%= measurements.lbs %>"
                                <% } %>
                            >
                            <label for="lbs">lbs</label>
                        </div>
    
                        <div id="metWeightDiv" class="metric-sys hidden-elem">
                            <input id="kg" name="kg" type="number"
                                <% if (measurements.kg) { %>
                                    value="<%= measurements.kg %>"
                                <% } %>
                            >
                            <label for="kg">kg</label>
                        </div>
                    </div>

                    <div id="activityDiv">
                        <span>Your current activity level:</span><br>
                        <input type="radio" id="sedentary" name="activityLevel" value="sedentary">
                        <label for="sedentary">Sedentary (Rarely active)</label><br>
                        <input type="radio" id="light" name="activityLevel" value="light">
                        <label for="light">Light (Active a few times a week)</label><br>
                        <input type="radio" id="moderate" name="activityLevel" value="moderate">
                        <label for="moderate">Moderate (Active most days)</label><br>
                        <input type="radio" id="heavy" name="activityLevel" value="heavy">
                        <label for="heavy">Heavy (Active every day)</label>
                    </div>

                    <button id="calculate">Calculate</button>
                    <button id="clear">Clear</button>
                </div>

                <div id="displayDiv">
                    <p id="displaySummary"></p>
                    <p>Your estimated* BMR: <span class="displayValues" id="bmr"></span></p>
                    <p>Your estimated** TDEE: <span class="displayValues" id="tdee"></span></p>
                </div>

                <div id="saveDiv" class="hidden-elem">
                    <p>If you'd like to save these measurements, please click the button below.</p>
                    <button id="save">Save Measurements</button>
                </div>

                <div id="resultDiv" class="hidden-elem">
                    <!-- Save result here -->
                </div>

           </div>
        </main>
        <footer>
            <a href="/unsubscribe">Unsubscribe From Reminders</a>
            <div id="asterisks">
                <p>Calculations are based on the Mifflin-St. Jeor equation using the following multipliers: Sedentary = 1.2, Light = 1.4, Moderate = 1.65, Heavy = 1.9.</p>
                <p>For the most accurate calculations, it's best to consult a professional. Consult your primary care physician before making drastic changes to your diet and workout regimen.</p>
            </div>
            <p>Personal BMR and TDEE Calculator 2024-2025</p>
        </footer>
        <script src="/update.js" type="module"></script>
    </body>
</html>